@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --mcol: rgba(255, 255, 255, 0.7);
    --tcol: rgba(255,255,255,0.9);
    --bcol: rgb(20, 20, 20);
    --freg: "VT323", monospace;
}

::-webkit-scrollbar {
    width: 0px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #767676 transparent;
}


* {
    overscroll-behavior: none;
    -ms-overflow-style: none;
    scrollbar-width: thin;
    scrollbar-color: #767676 transparent;
}

body, html {
    width: 100vw;
    height: 100dvh;
    overflow-x: hidden;
    overflow-y: hidden;
    background: var(--bcol);
    color: var(--mcol);
    font-family: var(--freg);
    margin: 0;
    font-size: 24px;
    
    box-shadow:
    inset 0px 0px 5px rgba(0, 0, 0, 0.211),
    inset 0px 0px 11px rgba(0, 0, 0, 0.31),
    inset 0px 0px 18.4px rgba(0, 0, 0, 0.383),
    inset 0px 0px 27.8px rgba(0, 0, 0, 0.444),
    inset 0px 0px 40.1px rgba(0, 0, 0, 0.5),
    inset 0px 0px 56.7px rgba(0, 0, 0, 0.556),
    inset 0px 0px 80.4px rgba(0, 0, 0, 0.617),
    inset 0px 0px 116.8px rgba(0, 0, 0, 0.69),
    inset 0px 0px 180px rgba(0, 0, 0, 0.789),
    inset 0px 0px 320px rgba(0, 0, 0, 1)
    ;
}

p {
    margin: 0;
}

#in {
    width: 100%;
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#sl {
    position: absolute;
    z-index: 400;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0px, rgba(0, 0, 0, 0.15) 0.999px, transparent 1px, transparent 4px);
    background-size: 4px 4px;
    pointer-events: none;
    animation: scanlines 0.2s linear 0s infinite normal forwards;
    pointer-events: none;
}


@keyframes scanlines {
    from {
        background-position-y: 0;
    }

    to {
        background-position-y: 4px;
    }
}

#nbg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .5s steps(1) infinite;
    opacity: .9;
    visibility: visible;
    pointer-events: none;
}


@keyframes bg-animation {
    0% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5%, -5%)
    }

    20% {
        transform: translate(-10%, 5%)
    }

    30% {
        transform: translate(5%, -10%)
    }

    40% {
        transform: translate(-5%, 15%)
    }

    50% {
        transform: translate(-10%, 5%)
    }

    60% {
        transform: translate(15%, 0)
    }

    70% {
        transform: translate(0, 10%)
    }

    80% {
        transform: translate(-15%, 0)
    }

    90% {
        transform: translate(10%, 5%)
    }

    100% {
        transform: translate(5%, 0)
    }
}

.smsg {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    align-items: start;
}

.smsg > .t {
    font-size: 0.9rem;
    color: var(--bcol);
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: bold;
    box-sizing: border-box;
}

.smsg > .t > .username {
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 1rem;
    padding-left: 0.5rem;
    border-right: 3px solid var(--bcol);
    background: var(--mcol);
}

.smsg > .t > .rep {
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    border-right: 3px solid var(--bcol);
    background: var(--mcol);
}

.smsg > .t > .metadata {
    background: var(--mcol);
    height: 100%;
    font-size: 0.85rem;
    gap: 0.75rem;
    display: flex;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    border-right: 3px solid var(--bcol);
}




.smsg > .c {
    font-size: 1rem;
    color: var(--tcol);
    box-sizing: border-box;
    padding-left: calc(0.5rem - 3px);
    border-left: 2px dotted var(--mcol);
    padding-top: 0.15rem;
}

.cind {
    width: 100%;
    display: flex;
    gap: 1rem;
    color: var(--tcol);
    font-size: 1.1rem;
    margin-top: -.5rem;
}

.clomsg {
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    color: var(--mcol);
    font-style: italic;
    padding: 0.11rem 0 0.11rem 0;
    background: rgba(0,0,0,0.55)
}

.arch {
    text-transform: uppercase;
    font-weight: bolder;
    height: max-content;
    background: var(--mcol);
    color: var(--bcol);
    display: grid;
    place-items: center;
    align-self: center;
    padding: 0.05rem 0.1rem 0.05rem 0.1rem;
    font-size: 0.8rem;
}

.logo {
    height: 2.5rem;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar {
    margin-left: 1.5rem;
    box-sizing: content-box;
    padding-left: 1.5rem;
    border-left: 2px dotted var(--mcol);
    display: flex;
    gap: 0.5rem;
    height: 75%;
    align-items: center;
}

.navbar > .i {
    background: var(--mcol);
    color: var(--bcol);
    padding: 0rem 0.3rem 0rem 0.3rem;
    box-sizing: content-box;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    height: max-content;
}

.navbar > .i:hover {
    background: var(--tcol);
}

.logo > img {
    height: 100%;
    opacity: 0.85;
}

::selection {
    background-color: white;
    color: black;
}

::-moz-selection {
    background-color: white;
    color: black;
}

/* For webkit-based browsers */
::-webkit-selection {
    background-color: white;
    color: black;
}

.board-i {
    border: 0;
    margin: 0;
    outline: 0;
    font-family: inherit;
    color: var(--mcol);
    background: transparent;
    padding: 0.15rem 0.3rem 0.15rem 0.3rem;
    font-size: 1.1rem;
    cursor: pointer;
}

.board-i:hover {
    text-decoration: underline;
    color: var(--tcol);
}

.board-i.active {
    text-decoration: underline;
    color: var(--tcol);
}

img {
    image-rendering: pixelated; /* for older browsers */
    image-rendering: -webkit-optimize-contrast; /* for webkit-based browsers */
    image-rendering: optimizeQuality;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

a {
    color: inherit;
}

.unauthorized::before {
    color: var(--mcol);
    content: "[UNAUTHORIZED]";
    font-style: italic;
}

.log {
    margin-left: 1.5rem;
    box-sizing: content-box;
    padding-left: 1.5rem;
    font-size: 0.9rem;
    color: var(--mcol);
    height: 75%;
    display: flex;
    align-items: center;
    border-left: 2px dotted var(--mcol);
}

.board-list-i {
    font-size: 1rem;
    font-family: inherit;
    outline: 0; margin: 0; border: 0; padding: 0;
    color: var(--mcol);
    background: transparent;
    cursor: pointer;
    display: flex;
    gap: .5rem;
    align-items: center;
}

.board-list-i:not(:first-of-type) {
    margin-top: .5rem;
}

.board-list-i::before {
    content: ">>";
    margin-right: .25rem;
}

.board-list-i:hover::before {
    margin-right: .5rem;
}

.board-list-i:hover {
    text-decoration: underline;
}

.board-list-i.active::before {
    content: "â´"; margin: 0;
}

.board-list-i:hover.active::before {
    margin: 0;
}

.board-list-i.active {
    color: var(--tcol)
}

.board-list-i > a {
    text-decoration: none;
}

.board-list {
    margin-top: -.5rem;
}